-# This page creates a form which creates a new question for a specific elective.
-# Created by Team 29
%h1 New Question

= render 'form', question: @question

= link_to 'Back to questions', elective_questions_path(@elective),class: 'btn btn-link'

