-# This is a static FAQ page that answers general questions about Electives asked by medical students
-# Created by Team 29
.space
  %h1 FAQ

  %ul#accordion
    %li
      %label{:for => "first"}
        What are Medical School Electives?
        %span >
      %input#first{:checked => "checked", :name => "accordion", :type => "radio"}/
      .content
        %p
          As a medical student, electives are a crucial part of your degree, allowing you to explore various disciplines within medicine and gain a practical understanding of different specialties. While you may have already considered various fields based on your shadowing experiences, electives offer a unique opportunity to actively engage in clinical work and develop practical skills. Unlike shadowing, where you simply observe and learn, electives allow you to participate in the work and gain hands-on experience. By carefully selecting your elective rotations, you can gain valuable insights and knowledge that can help guide your future career path. We encourage you to take advantage of this opportunity to explore the diverse areas of medicine and discover what resonates with you.
    %li
      %label{:for => "second"}
        What are the Benefits of doing an elective?
        %span >
      %input#second{:name => "accordion", :type => "radio"}/
      .content
        %p
          Medical school electives offer a unique opportunity to gain practical clinical experience, expand your skill set, and develop relationships with attendings and mentors who can provide valuable feedback and recommendations. It is an opportunity to gain in-depth knowledge, expose yourself to different medical approaches and discover new areas of medicine. As you plan for your electives, consider taking rotations in at least two specialties and approach the experience with an open mind, ready to learn and grow.
    %li
      %label{:for => "third"}
        What to look for when selecting your electives?
        %span >
      %input#third{:name => "accordion", :type => "radio"}/
      .content
        %p
          It is important to keep an open mind and not limit yourself to only one area of medicine during your elective rotations. Gaining experience in multiple specialties can make you a more well-rounded physician and help you understand the interconnectedness of different medical fields.

          Research electives can also be a great way to gain experience and develop skills that can be useful in your future career. They allow you to contribute to ongoing research projects and learn how to conduct research on your own.

          When considering electives, it is important to plan ahead and do your research to ensure you meet the eligibility criteria for the programs you are interested in. Don't be afraid to reach out to the programs directly for more information and to ask any questions you may have.
    %li
      %label{:for => "fourth"}
        Tips for Choosing your Electives?
        %span >
      %input#fourth{:name => "accordion", :type => "radio"}/
      .content
        %p
          When selecting medical school electives, it's important to consider the skills you will gain from the rotations and the opportunities they can provide. For instance, an elective in emergency medicine can equip you with the ability to handle trauma patients under pressure. It's also advisable to choose electives that align with the type of practice you intend to build in the future. Additionally, you should factor in the costs of travel and accommodation when considering electives outside your school's offerings. It's best to select electives in the location you plan to practice, to avoid unnecessary debt. Lastly, choose attendings who can help you develop desirable skills and gain more than just hours spent on the rotation.
    %li
      %label{:for => "fifth"}
        When can you do Electives?
        %span >
      %input#fifth{:name => "accordion", :type => "radio"}/
      .content
        %p
          It is imperative that electives be completed within the allocated timeframe during medical school, typically in the final year of study. These courses are an integral part of the medical degree and cannot be taken after graduation. Therefore, it is important to plan ahead and prepare well in advance to secure the desired electives.
    %li
      %label{:for => "sixth"}
        What are the required Rotations in Medical School?
        %span >
      %input#sixth{:name => "accordion", :type => "radio"}/
      .content
        %p
          The required rotation in medical school will be in these disciplines:
          %br
          <strong>Family Medicine</strong> that focuses on providing patient care for all ages including pediatrics.
          %br
          <strong>Internal Medicine</strong> which focuses on preventing, diagnosing, and treating internal diseases.
          %br
          <strong> Surgery </strong> that focuses on operations that treat diseases, minor injuries, or server trauma.
          %br
          <strong>Obstetrics and Gynecology </strong> which includes prenatal, postpartum care, labor, deliver, and women's health and wellness.
          %br
          <strong>Psychiatry </strong> which is diagnosing, treating, and preventing mental, emotional, and behavioral disorder