-# This is a static Financial Support page that provides medical students with general information about the available Financial support they can get
-# Created by Team 29
.space
  %h2
    %strong Financial Support
  %p
    .body
      At Sheffield School of Medicine, we offer additional support and various funding opportunities to assist you with your undergraduate studies. Our goal is to provide a comprehensive and supportive learning environment that enables our students to achieve their full potential. We encourage you to explore these resources and take advantage of the opportunities available to you.

  %hr

  %br

  %h4
    %strong Additional Support

  %br
  
  %p
    If you are experiencing financial hardship or unexpected expenses, you may be eligible to apply for financial assistance. The amount awarded may vary depending on individual circumstances, as we strive to help as many students as possible. Please ensure that you meet the criteria before submitting an application.

  %li.middle
    %a{ :href => "https://www.sheffield.ac.uk/cost-of-living/students/financial-support", :title => "Link" }
      Undergraduate Financial Support


  %br

  %p
    The University of Sheffield Research Scholarship application period typically begins in November and ends in the middle of January. We'll shortly make information regarding our marketed efforts available.

    In the same window, we may advertise Knowledge Exchange Scholarships as well. They require close business partner cooperation throughout your project and are supported by industrial partners.

    The top masters students can apply for sponsored PhD slots during our annual PGT-PGR scholarship competition, which is held in the spring. Two of our faculty departments are also competing in the White Rose Doctoral Training Partnership competition. Using the following link, you may learn more details about the scholarship.


  %li.middle
    %a{ :href => "https://www.sheffield.ac.uk/medicine-dentistry-health/study/postgraduate/funding", :title => "Link" }
      Scholarship Information


  %br

  %p
    In addition to the funding opportunities mentioned earlier, please check the link below for more information on available funding and eligibility criteria. These aids are open to all university students who meet the specified requirements, and we encourage you to explore them as part of your financial planning.

  %li.middle
    %a{ :href => "https://www.sheffield.ac.uk/undergraduate/fees-funding/additional", :title => "Link" }
      Additional Financial Support

  %br

    