-# This is a static Home page that provides medical students with general information Electives and the stages involved in getting one
-# Created by Team 29
%div.topbox
  %h1
    %strong Medical Electives
  %p.description
    Elective placements offer students the chance to work alongside healthcare professionals, get career-boosting clinical experience in a hospital, apply their theoretical knowledge to real-life scenarios.
    <br>  They offer the chance to develop valuable skills such as communication, teamwork, and problem-solving, which are essential for a successful career in medicine as well as providing students with exposure to a diverse range of medical practices and cultures.
    <br> Medical electives allow students to explore different specialties and gain a better understanding of their interests and career goals
      
%hr.first
%div.reasons
  %h2
    Why do an elective?
  %div.reason-tables
    %table.left
      %tr
        %td
          %img{alt: "checkmark", src:"blue-grey_checkmark.png", width:"30" }
        %td Stand out to employers
      %tr
        %td
          %img{alt: "checkmark", src:"blue-grey_checkmark.png", width:"30" }
        %td Strengthen your academic profile
      %tr
        %td
          %img{alt: "checkmark", src:"blue-grey_checkmark.png", width:"30" }
        %td Build a network
    %table.right
      %tr
        %td
          %img{alt: "checkmark", src:"blue-grey_checkmark.png", width:"30" }
        %td Boost confidence
      %tr
        %td
          %img{alt: "checkmark", src:"blue-grey_checkmark.png", width:"30" }
        %td Gain insights
      %tr
        %td
          %img{alt: "checkmark", src:"blue-grey_checkmark.png", width:"30" }
        %td Get inspiration on your specialty

%hr.second
%div.how-works
  %h2
    How Does It Work?
  %div.steps-tables
    %table
      %tr.numbers
        %td 01
        %td 02
        %td 03
      %tr.names
        %td Join
        %td Find
        %td Apply
      %tr.description
        %td sign up with your university account
        %td browse a list of many options to find what best suits you
        %td all the information you need to make an application
